<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_J0f24MT2Ee2v9pZjTED34g" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist." name="default" domainID="com.yakindu.domain.c">
    <regions xmi:id="_J0yKw8T2Ee2v9pZjTED34g" name="main region"/>
    <regions xmi:id="_MKgFGsT2Ee2v9pZjTED34g" name="MuestraPat">
      <vertices xsi:type="sgraph:State" xmi:id="_MKgFG8T2Ee2v9pZjTED34g" name="IDLE" incomingTransitions="_MKgFIsT2Ee2v9pZjTED34g">
        <outgoingTransitions xmi:id="_MKgFHcT2Ee2v9pZjTED34g" specification="after DelayInit s" target="_MKgFI8T2Ee2v9pZjTED34g"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_MKgFIcT2Ee2v9pZjTED34g">
        <outgoingTransitions xmi:id="_MKgFIsT2Ee2v9pZjTED34g" specification="" target="_MKgFG8T2Ee2v9pZjTED34g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_MKgFI8T2Ee2v9pZjTED34g" specification="entry /AnemoPat.Uart=UartRS485;&#xD;&#xA;AnemoPat.LED=LED2;&#xD;&#xA;AnemoPat.BaudRate=9600;&#xD;&#xA;ptrAnemoPat=AnemoPat.pointer;&#xD;&#xA;opBufferRS485Reset(ptrAnemoPat)&#xD;&#xA;" name="SENSOR_PAT" incomingTransitions="_MKgFHcT2Ee2v9pZjTED34g"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_J0yKwMT2Ee2v9pZjTED34g" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_J0f24MT2Ee2v9pZjTED34g" measurementUnit="Pixel">
    <children xmi:id="_J0yKxMT2Ee2v9pZjTED34g" type="Region" element="_J0yKw8T2Ee2v9pZjTED34g">
      <children xsi:type="notation:DecorationNode" xmi:id="_J04RYMT2Ee2v9pZjTED34g" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_J04RYcT2Ee2v9pZjTED34g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_J04RYsT2Ee2v9pZjTED34g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_J04RY8T2Ee2v9pZjTED34g" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J04RZMT2Ee2v9pZjTED34g"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_J0yKxcT2Ee2v9pZjTED34g" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J04RZcT2Ee2v9pZjTED34g" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_J04RisT2Ee2v9pZjTED34g" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_J04RjMT2Ee2v9pZjTED34g" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_J04RjcT2Ee2v9pZjTED34g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_J04RjsT2Ee2v9pZjTED34g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_J04Rj8T2Ee2v9pZjTED34g" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J04RkMT2Ee2v9pZjTED34g"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_J0-YAMT2Ee2v9pZjTED34g" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_MKgE8MT2Ee2v9pZjTED34g" type="Region" element="_MKgFGsT2Ee2v9pZjTED34g">
      <children xsi:type="notation:DecorationNode" xmi:id="_MKgE8cT2Ee2v9pZjTED34g" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MKgE8sT2Ee2v9pZjTED34g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MKgE88T2Ee2v9pZjTED34g"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_MKgE9MT2Ee2v9pZjTED34g" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_MKgE9cT2Ee2v9pZjTED34g" type="State" element="_MKgFG8T2Ee2v9pZjTED34g">
          <children xsi:type="notation:DecorationNode" xmi:id="_MKgE9sT2Ee2v9pZjTED34g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MKgE98T2Ee2v9pZjTED34g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MKgE-MT2Ee2v9pZjTED34g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MKgE-cT2Ee2v9pZjTED34g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MKgE-sT2Ee2v9pZjTED34g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MKgE-8T2Ee2v9pZjTED34g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MKgE_MT2Ee2v9pZjTED34g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MKgE_cT2Ee2v9pZjTED34g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MKgE_sT2Ee2v9pZjTED34g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MKgE_8T2Ee2v9pZjTED34g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MKgFAMT2Ee2v9pZjTED34g" x="106" y="9" width="105" height="50"/>
        </children>
        <children xmi:id="_MKgFAcT2Ee2v9pZjTED34g" type="Entry" element="_MKgFIcT2Ee2v9pZjTED34g">
          <children xmi:id="_MKgFAsT2Ee2v9pZjTED34g" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_MKgFA8T2Ee2v9pZjTED34g" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_MKgFBMT2Ee2v9pZjTED34g"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_MKgFBcT2Ee2v9pZjTED34g"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MKgFBsT2Ee2v9pZjTED34g" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MKgFB8T2Ee2v9pZjTED34g"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MKgFCMT2Ee2v9pZjTED34g" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_MKgFCcT2Ee2v9pZjTED34g" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MKgFCsT2Ee2v9pZjTED34g" x="13" y="16"/>
        </children>
        <children xmi:id="_MKgFC8T2Ee2v9pZjTED34g" type="State" element="_MKgFI8T2Ee2v9pZjTED34g">
          <children xsi:type="notation:DecorationNode" xmi:id="_MKgFDMT2Ee2v9pZjTED34g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MKgFDcT2Ee2v9pZjTED34g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MKgFDsT2Ee2v9pZjTED34g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MKgFD8T2Ee2v9pZjTED34g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MKgFEMT2Ee2v9pZjTED34g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MKgFEcT2Ee2v9pZjTED34g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MKgFEsT2Ee2v9pZjTED34g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MKgFE8T2Ee2v9pZjTED34g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MKgFFMT2Ee2v9pZjTED34g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MKgFFcT2Ee2v9pZjTED34g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MKgFFsT2Ee2v9pZjTED34g" x="44" y="152" width="305" height="117"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MKgFF8T2Ee2v9pZjTED34g"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_MKgFGMT2Ee2v9pZjTED34g" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MKgFGcT2Ee2v9pZjTED34g" x="755" width="424" height="331"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_J0yKwcT2Ee2v9pZjTED34g" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_J0yKwsT2Ee2v9pZjTED34g"/>
    <edges xmi:id="_MK-mEMT2Ee2v9pZjTED34g" type="Transition" element="_MKgFIsT2Ee2v9pZjTED34g" source="_MKgFAcT2Ee2v9pZjTED34g" target="_MKgE9cT2Ee2v9pZjTED34g">
      <children xsi:type="notation:DecorationNode" xmi:id="_MK-mEcT2Ee2v9pZjTED34g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MK-mEsT2Ee2v9pZjTED34g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MK-mE8T2Ee2v9pZjTED34g" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MK-mFMT2Ee2v9pZjTED34g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MK-mFcT2Ee2v9pZjTED34g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MK-mFsT2Ee2v9pZjTED34g" points="[1, -5, -63, -2]$[64, -2, 0, 1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MK-mF8T2Ee2v9pZjTED34g" id="(0.0,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_MK-mGMT2Ee2v9pZjTED34g" type="Transition" element="_MKgFHcT2Ee2v9pZjTED34g" source="_MKgE9cT2Ee2v9pZjTED34g" target="_MKgFC8T2Ee2v9pZjTED34g">
      <children xsi:type="notation:DecorationNode" xmi:id="_MK-mGcT2Ee2v9pZjTED34g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MK-mGsT2Ee2v9pZjTED34g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MK-mG8T2Ee2v9pZjTED34g" x="-8" y="-96"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MK-mHMT2Ee2v9pZjTED34g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MK-mHcT2Ee2v9pZjTED34g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MK-mHsT2Ee2v9pZjTED34g" points="[8, 0, 2, -57]$[8, 51, 2, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MK-mH8T2Ee2v9pZjTED34g" id="(0.7333333333333333,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_MK-mIMT2Ee2v9pZjTED34g" id="(0.43934426229508194,0.06837606837606838)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
